@import url('https://fonts.googleapis.com/css?family=Eczar:400,600');
@import url('https://fonts.googleapis.com/css?family=Merienda|Raleway');

/*****************************************************************************
Screen (min-width: 640px) 
******************************************************************************/

/**********************************
HEADING: NAVBAR
***********************************/

.navbar-brand {
  font-family: "Merienda", "Raleway";
  font-size: 30px;
  letter-spacing: 1px;
  color: whitesmoke;
}

.navbar .navbar-collapse {
  text-align: center;
}


/**********************************
 BODY and HTML
 ***********************************/
body,
html {
  height: 100vh;
}

.food-column {
  /* height: 100vh; */
}

h4 {
  color: white;
}


/**********************************
 Users div
 ***********************************/
.currentUsers {
  width: 99.9%;
  background-color: white;
  margin: 0 auto;
  text-align: center;
}

.avatar {
  width: 80%;
}

.userX {
  cursor: pointer;
}


#categorySelectButton {
  width: 250px;
}



/**********************************
 Restaurant div
 ***********************************/
.restaurantX {
  /* background-color: red; */
  width: 95%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.10), 0 3px 3px rgba(0, 0, 0, 0.12);
  font-size: 20px;
  background-color: white;
  cursor: pointer;
}


.fa-plus {
  position: absolute;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px rgba(0.12, 0.12, 0.12, 0.12);
  top: 10%;
  right: 2%;
  padding: 15px;
}

.fa-plus:hover {
  background-color: #33cc00;
  color: white;
}




/**********************************
 Hidden rating form
 ***********************************/
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Button used to open the contact form - fixed at the bottom of the page */
/* .open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
} */

/* The popup form - hidden by default */
.form-popup {
  text-align: left;
  display: none;
  position: fixed;
  top: 150;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}





/**********************************
 Restaurant tags categories classes
 ***********************************/

.american-gray {
  color: gray;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.chinese-category {
  color: #17a2b8;
  border: 2px solid #17a2b8;
  border-radius: 5px;
  padding: 5px;
}

.italian-category {
  color: red;
  border: 2px solid red;
  border-radius: 5px;
  padding: 5px;
}

.mexican-category {
  color: green;
  border: 2px solid green;
  border-radius: 5px;
  padding: 5px;
}

.fastfood-category {
  color: #3b4249;
  border: 2px solid #3b4249;
  border-radius: 5px;
  padding: 5px;
}





/*****************************************************************************
@media screen and (max-width: 640px) 
******************************************************************************/
@media screen and (max-width: 640px) {

  .mobile-noDisplay {
    display: none;
  }

  /**********************************
  HEADING: NAVBAR
  ***********************************/

  .navbar-brand {
    font-size: 12px;
    letter-spacing: 8px;
  }

  /**********************************
  HEADING: BANNER
  ***********************************/

  .banner {
    height: 250px;
  }

  .fly-in-text li {
    margin-right: 18px;
    font-size: 2em;
    margin-top: 50px;
  }

  .banner-jobTitle {
    font-size: 12px;
  }

  .banner-yuri-photo {
    width: 90px;
    margin-top: 30px;
    border: 4px solid white;
  }

  /**********************************
  BODY: SECTION: portfolio
  ***********************************/

  .portfolio-section {
    margin-top: 10px;
  }

  #usersDiv {
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
  }

  /**********************************
  BODY: SECTION: CONTACT
  ***********************************/
  .social-icon {
    width: 35px;
    height: 35px;
    margin: 0px 5px;
    color: gray;
  }

}