@import url('https://fonts.googleapis.com/css?family=Eczar:400,600');
@import url('https://fonts.googleapis.com/css?family=Merienda|Raleway');

/*****************************************************************************
Screen (min-width: 640px) 
******************************************************************************/

/**********************************
HEADING: NAVBAR
***********************************/

.navbar-brand {
  font-family: "Merienda", "Raleway";
  font-size: 30px;
  letter-spacing: 1px;
  color: whitesmoke;
}

.navbar .navbar-collapse {
  text-align: center;
}


/**********************************
 BODY and HTML
 ***********************************/
body,
html {
  height: 100vh;
}

.food-column {
  height: 100vh;
}

h4 {
  color: white;
}


/**********************************
 Users div
 ***********************************/
.currentUsers {
  width: 90%;
  background-color: white;
  margin: 0 auto;
  text-align: center;
}

.avatar {
  width: 80%;
}

.userX {
  cursor: pointer;
}

/*****************************************************************************
@media screen and (max-width: 640px) 
******************************************************************************/
@media screen and (max-width: 640px) {

  .mobile-noDisplay {
    display: none;
  }

  /**********************************
  HEADING: NAVBAR
  ***********************************/

  .navbar-brand {
    font-size: 12px;
    letter-spacing: 8px;
  }

  /**********************************
  HEADING: BANNER
  ***********************************/

  .banner {
    height: 250px;
  }

  .fly-in-text li {
    margin-right: 18px;
    font-size: 2em;
    margin-top: 50px;
  }

  .banner-jobTitle {
    font-size: 12px;
  }

  .banner-yuri-photo {
    width: 90px;
    margin-top: 30px;
    border: 4px solid white;
  }

  /**********************************
  BODY: SECTION: portfolio
  ***********************************/

  .portfolio-section {
    margin-top: 10px;
  }

  /**********************************
  BODY: SECTION: CONTACT
  ***********************************/
  .social-icon {
    width: 35px;
    height: 35px;
    margin: 0px 5px;
    color: gray;
  }

}