.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#root {
  background-color: yellow;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}

#oneEvent {
  background-color: green;
  margin: 0 auto;
  text-align: center;
}

#postEventWrapper {
  background-color: cyan;
  margin: 0 auto;
  text-align: center;
}

#postEvent {
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

#updateEvent {
  background-color: pink;
}

#deleteEvent {
  background-color: rgb(152, 103, 231);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}