body {
  background: linear-gradient(white, 1%, #ff0400, #ff1600, #af2351, black 99%);
}

p {
  color: white;
}

.left {
  background-color: gray;
  width: 600px;
  float: left;
}

.right {
  background-color: cyan;
  width: 600px;
  float: left;
  margin-left: 30px;
}