body {
  background: linear-gradient(#ff0400, #ff1600, #cf0300 99%);
  background: url("geo-pizza.jpg") repeat right top;

  color: white;
  font-size: 18px;
}

.content-wrapper {
  width: 1600px;
  margin: 0 auto;
  background-color: blue;
  overflow: hidden;
}

.left {
  background: rgba(192, 181, 181, 0.9);
  width: 800px;
  float: left;
}

.ingredients {
  width: 500px;
  padding: 30px;
}

.right {
  background-color: black;
  width: 800px;
  float: left;
  margin-left: 0px;
}

.instructions {
  text-align: justify;
  width: 600px;
  padding: 30px;
}

.video {
  background-color: green;
  width: 1600px;
  text-align: center;
  float: down;
}

.large-screen {
  margin-top: 30px;
}