@import url('https://fonts.googleapis.com/css?family=Merienda|Raleway');

body {
  font-family: "Merienda";
  background: linear-gradient(#ff0400, #ff1600, #cf0300 99%);
  background: url("geo-pizza.jpg") repeat right top;
}

.container {
  width: 100%;
}

@media (min-width: 830px) {
  .wrapper-container {
    width: 70%;
    margin: 100px auto;
    background-color: white;
  }
}

@media (max-width: 767px) {
  .p-5 {
    padding: 30px !important;
  }
}