@import url('https://fonts.googleapis.com/css?family=Merienda|Raleway');


body {
  font-family: "Merienda";
  background: linear-gradient(#ff0400, #ff1600, #cf0300 99%);
  background: url("geo-pizza.jpg") repeat right top;
  font-size: 18px;
}

h1 {
  font-size: 60px;
}

li {
  margin-top: 10px;
}

.content-wrapper {
  width: 1600px;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
  padding: 100px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}

.left {
  /* background: rgba(192, 181, 181, 0.9); */
  width: 800px;
  float: left;
  margin-top: 60px;
  z-index: 2;

}

.ingredients {
  width: 700px;
  padding: 30px;
}

.right {
  /* background-color: black; */
  width: 780px;
  float: left;
  margin-left: 20px;
  z-index: 1;
}

.instructions {
  text-align: justify;
  width: 730px;
  padding: 30px;
}


img {
  width: 800px;
}

.video {
  /* background-color: green; */
  text-align: center;
  margin: 0 auto;
  z-index: 3;
  clear: both;
}

iframe {
  width: 1080px;
  height: 720px;

}

.large-screen {
  margin-top: 30px;
}


@media (max-width: 1800px) {

  .top h1 {
    font-size: 50px;
  }

  .content-wrapper {
    width: 1200px;
    padding: 30px;
  }

  .left {
    width: 500px;
    float: left;
    margin-top: 60px;
  }

  .ingredients {
    width: 500px;
    padding: 0px;
  }

  .right {
    /* background-color: black; */
    width: 490px;
    margin-left: 0px;
  }

  .instructions {
    text-align: justify;
    width: 670px;
    padding: 20px;
  }

  iframe {
    width: 720px;
    height: 480px;

  }


  .large-screen {
    margin-top: 30px;
  }

  img {
    width: 480px;
  }
}



@media (max-width: 1330px) {

  .top {
    text-align: center;
  }

  .left {
    width: 600px;
    float: none;
    margin: 0 auto;
    display: block;
    margin-top: 60px;
  }

  .right {
    float: none;
  }

  .content-wrapper {
    width: 777px;
  }

  .video {
    float: none;
    margin: 0 auto;
  }

  img {
    width: 100%;
  }
}



@media (max-width: 870px) {}